/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.the_wheel
{
    background-image: url(../graphics/wheel_back.png);
    background-position: center;
    background-repeat: none;
    width: 438px; 
    height: 582px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

#canvas {
  padding-top: 75px;
  /*position: absolute;*/
  margin-left: auto;
  margin-right: auto;
  /*right: 100px;*/
}