body {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/79086/gaussian_blur_simple_background.jpg") !important;
    background-color: #fff;
    background-repeat: repeat-y;
}


.container {
  width:640px;
}


.b{
    display: inline-block;
    position: relative;
    margin: 1%;
    float: left;
    width: 18%;
    height: 125px;
    background-color: lightgrey;
    color: #000;
    border-radius: 10px;
}

.boxed{
  width: 250px;
  background-color:#326670;
  border-radius: 10px;
}

.boxedtwo{
  width: 250px;
  background-color: #82a4b0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#exchange{
  float: right;
  margin-top: -105px;
}

#exchange p {
  color: #fff;
}

#balance{
  padding: 1px;
}

#balance p {
  color: #fff;
}

p {
  color: #326670;
}

#bet_amount{
  width: 400px;
}



.b label{
  text-align: center;
  display: block;
  color: #fff;
  text-decoration: bold;
  padding-left: -5px;
 }

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

.modal {
  border: 2px solid;
  border-radius: 5px;
  width: 640px;
}

.modal-content{
  color: ##29b6f6;
  font-size: 12pt;
}

.modal-content h4 {
  color:#29b6f6;
  text-decoration: bold;
  text-align: center;

}

input[type=text] {
    border: 2px solid #326670;
    border-radius: 4px;
    color: #ff9800;
}

input[type=password] {
    border: 2px solid #326670;
    border-radius: 4px;
    color: #ff9800;
}

input:focus {
    outline: none;
    border-color: #326670;
    box-shadow: 0 0 10px #326670;
}

button[type=submit] {
    color: white;
}

label {
  font-size: 14pt;
}
