.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.modal {
  border: 2px solid;
  border-radius: 5px;
  width: 640px;
}

.modal-content{
  color: ##29b6f6;
  font-size: 12pt;
}

.modal-content h4 {
  color:#29b6f6;
  text-decoration: bold;
  text-align: center;

}

input[type=text] {
    border: 2px solid #29b6f6;
    border-radius: 4px;
    color: #ff9800;
}

input[type=password] {
    border: 2px solid #29b6f6;
    border-radius: 4px;
    color: #ff9800;
}

input:focus {
    outline: none;
    border-color: #26a69a;
    box-shadow: 0 0 10px #26a69a;

}


button[type=submit] {
    color: white;

}

label {
  font-size: 14pt;
}

/*li {
  color: white;
}*/

i.icon-red{
  color: red;
}

i.icon-blue {
  color: blue;
}

i.icon-yellow {
  color: yellow;
}

i.icon-green {
  color: green;
}

i.icon-orange {
  color: orange;
}
