<h2 class = "center-align">Your Past Bets</h2>

<br>
<br>

<div class='row'>
  <div class="col s12 m4 l2"><p></p></div>

    <div class="col s12 m4 l8 center-align">
      <table>
        <thead>
          <tr>
              <th data-field="id">Time</th>
              <th data-field="bet_amount">Bet Ammount</th>
              <th data-field="bet_on">Bet On</th>
              <th data-field="win_loss">Win / Loss</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>insert cats[i].timestamp</td>
            <td>insert cats[i].bet_amount</td>
            <td>insert cats[i].win_loss</td>
          </tr>
          <tr>
            <td>Alan</td>
            <td>Jellybean</td>
            <td>$3.76</td>
          </tr>
          <tr>
            <td>Jonathan</td>
            <td>Lollipop</td>
            <td>$7.00</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col s12 m4 l2"><p></p></div>
</div>

<br>
<br>