
{{#if username}}
  Welcome {{username}}! Let's play a game.
{{/if}}

{{#unless logged_in}}
  <p> Sign up to play Lotto! </p>
{{/unless}}

  
  <!-- bet window -->
<div class="container">
  <div class="row">
    <div class="col m10 offset-m1 s12">
      <div class="row">
        <form class="col s12">

          <div class="input-field col m12 s12 center-align">
            <input placeholder="$" id="bet_amount" type="text" class="validate">
            <label for="bet_amount">How much would you like to bet?</label>
          </div>

          <div class="row center-align">
            <p>Pick a slice to bet on.</p>
            <div class="input-field col m3 s6 center-align">
              <input name="group1" type="radio" id="google" />
              <label for="google">Red <br> Odds: 1to2 Payout: 1to1</label>
            </div>
            <div class="input-field col m3 s6 center-align">
              <input name="group1" type="radio" id="customer" />
              <label for="customer">Blue <br> Odds: 7to24 Payout: 2to1</label>
            </div>
            <div class="input-field col m3 s6 center-align">
              <input name="group1" type="radio" id="store" />
              <label for="store">Yellow <br> Odds: 3to24 Payout: 5to1</label>
            </div>
            <div class="input-field col m3 s6 center-align">
              <input name="group1" type="radio" id="other" />
              <label for="other">Green <br> Odds: 1to24 Payout: 20to1</label>
            </div>
            <div class="input-field col m3 s6 center-align">
              <input name="group1" type="radio" id="other" />
              <label for="other">Orange <br> Odds: 1to24 Payout 40to1</label>
            </div>
          </div>
          
          <div class="row">
            <div class="col m12">
              <p class="center-align"><button class="btn btn-large waves-effect waves-light" type="button" name="action">Spin the Wheel!</button></p>
            </div>
           </div>

        </form>
      </div>
    </div>
  </div>
</div>



  {{#if balance}}
      Your balance is {{balance}} !
  {{/if}}


